body {
    font-family: "Roboto", sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#7a7a7a, #2e2e2e);
    /* background: radial-gradient(#687aa7, #2a324a); */
}

.bg-blue {
    background: #2647ca;
}

.bg-silver {
    background: #919191;
}

.container-main {
    width: 1000px;
    height: 700px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2rem;
}

.container-pillar {
    width: 320px;
    height: 600px;
    overflow-y: scroll;
    background: #fff;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 8px;
}

.bs-pink {
    box-shadow: -2px -5px 5px #ea88b3;
}

.bs-orange {
    box-shadow: -2px -5px 5px #fa8740;
}

.bs-green {
   box-shadow: -2px -5px 5px #48f725; 
}

.header {
    height: 30px;
    color: #000;
    display: flex;
    align-items: center;
    padding: 5px 7px;
    justify-content: space-between;
    background-color: #f0efef; 
}

.header h1 {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.header i {
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.header i:hover {
    color: #a19d9a;
}

.card {
    padding: 15px 7px;
    width: auto;
    margin: 0 5px;
    height: 120px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(202, 202, 202);
    cursor: pointer;
}

span {
    margin: 0;
    padding: 4px 8px;
    background: #ea88b3;
    border-radius: 10px;
    color: #fff;
}

.icons {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}


.conter {
    display: flex;
    gap: 1rem;
}

.profile {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.modal-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;    
    justify-content: center; 
    z-index: 1000;
}

.modal-main.active {
    display: flex;
}

.modal {
    width: 320px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    z-index: 5;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #000000;
}

.modal h2 {
    margin: 0;
    padding: 10px;
}

.body-modal {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.conter-modal {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.data {
    padding: 8px 12px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #dadada;
}

.footer-modal {
    padding: 18px 0 5px 0;
    display: flex;
    gap: 0.7rem;
}

.btn-modal {
    font-size: 14px;
    color: #fff;
    border: none;
    padding: 8px 10px;
    border-radius: 6px;
    box-shadow: 0px 0px 5px #777777;
    cursor: pointer;
    zoom: 100%;
}

.btn-modal:hover {
    zoom: 95%;
}